@font-face { font-family: pixelFont; src: url('witch/04B_03.eot'); }
@font-face { font-family: pixelFont; src: url('witch/04B_03.ttf'); }
body { 
	background: #000000; 
	color:#ffffff; 
	font-family: "Lucida Console", Monaco, monospace; 
}
#level_edit_objects{
	border: 1px solid black;
	background-color: #aaaaaa;
	padding-left: 5px;
	padding-top: 5px;
	padding-right:2px;
	padding-bottom:2px;
}
#level_edit_export_text{
	border:1px solid red;
	font-size: 10px;
	width:100px;
	height:100px;
	overflow: hidden;
	background-color: #000000;
	color: #ffffff;
}
.object_box{
	width: 32px;
	height: 32px;
	border: solid black 1px;
	color: black;
	margin-right:3px;
	margin-bottom:3px;
	cursor:pointer;
	line-height: 32px;
}
.selected_object_box{
	width: 32px;
	height: 32px;
	border: solid white 1px;
	color: black;
	margin-right:3px;
	margin-bottom:3px;
	cursor:pointer;
	line-height: 32px;
}