@font-face { font-family: pixelFont; src: url('assets/04B_03.eot'); }
@font-face { font-family: pixelFont; src: url('assets/04B_03.ttf'); }
body { 
	background: #000000; 
	color:#ffffff; 
	font-family: "Lucida Console", Monaco, monospace; 
}
#level_edit_objects{
	border: 1px solid black;
	background-color: #aaaaaa;
	padding-left: 5px;
	padding-top: 5px;
	padding-right:2px;
	padding-bottom:2px;
}
#level_edit_export_text{
	border:1px solid red;
	font-size: 10px;
	width:100px;
	height:100px;
	overflow: hidden;
	background-color: #000000;
	color: #ffffff;
}
.object_box{
	width: 32px;
	height: 32px;
	border: solid black 1px;
	color: black;
	margin-right:3px;
	margin-bottom:3px;
	cursor:pointer;
	line-height: 32px;
}
.selected_object_box{
	width: 32px;
	height: 32px;
	border: solid white 1px;
	color: black;
	margin-right:3px;
	margin-bottom:3px;
	cursor:pointer;
	line-height: 32px;
}
.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  z-index: 999;
  
  display: none;
}
.modal {
  background-color: honeydew;
  border: 1px solid black;
  display: block;
  overflow: auto;
  max-height: 80%;
  min-height: 180px;
  padding: 12px;
  padding-top: 0;
  text-align: center;
  max-width: 80%;
  min-width: 340px;
  
  position: absolute;
  left: 150px;
  top: 150px;
}
.modal::before {
  background-color: lightblue;
  /* cursor: grab; */
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 43px;
  display: inline-block;
  margin-bottom: 8px;
  border-bottom: 1px solid black;
  z-index: -1;
}
.modal.dragging::before {
  cursor: grabbing;
}
.modal-close {
  position: absolute;
  right: 6px;
  top: 6px;
}
.modal-prompt-text {
  margin-top: 60px;
  margin-bottom: 20px;
  color: black;
}
.button {
    background-color: #EEEEEE;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    color: #333333;
    display: inline-block;
    font: bold 14px Arial;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    text-align: center;
}